body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    width: 100vw;
}
main {
    display: flex;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    min-width: 800px;
    min-height: 530px;
}
#sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
#suvs {
    background-color: hsl(184, 100%, 22%);
}
#luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
main div {
    padding: 50px;
}
button {
    background-color: hsl(0, 0%, 95%);
    width: 70%;
    height: 50px;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    border: 2px solid transparent;
}
h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 25px;
    height: 50%;
}
#sedans button {
    color: hsl(31, 77%, 52%);
}
#suvs button {
    color: hsl(184, 100%, 22%);
}
#luxury button {
    color: hsl(179, 100%, 13%);
}
button:hover {
    background-color: inherit;
    cursor: pointer;
    border: 2px solid white;
    color: white !important;
}
@media (max-width: 800px) {
    body {
        height: auto;
        width: 100vw;
        overflow-x: hidden;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    main {
        display: grid;
        width: 90%;
        min-width: 0;
        min-height: 0;
    }
    #sedans {
        border-radius: 10px 10px 0 0;
    }
    #luxury {
        border-radius: 0 0 10px 10px;
    }
    p {
        height: auto;
    }
    button {
        margin-top: 80px;
    }
}
